[Unit]
Description=Internet Connection Uptime Tracker Web Dashboard
After=network.target

[Service]
Type=simple
User=vintello
WorkingDirectory=<<host_folder>>
ExecStart=<<host_folder>>/venv/bin/python3 <<host_folder>>/web_morda.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target